:root {
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;
}

body {
  line-height: 1.5;
  font-family: Roboto;
}

.admonition,
hr,
center,
p,
tr,
td,
li {
  max-width: 60ch;
}
.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
min-width: 2rem;
padding: 1em 1em;
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom: 0.75em;
  padding-left: 1em;
}
